@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");

html {
    font-family: "Montserrat", sans-serif;
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: burlywood;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.slides {
    position: relative;
}

.slide {
    width: 800px;
    height: 450px;
    overflow: hidden;
}

.buttons {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 10px;
}

.preview {
    display: flex;
    justify-content: flex-start;
}

.next {
    display: flex;
    justify-content: flex-end;
}

.details {
    padding: 5px;
    font-size: 26px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

p {
    padding: 0 10px;
}

.inactive {
    background: gray;
    cursor: none;
}
